 <div class="text-center">
  <h1>Log in</h1>
</div>
 
  <div class="container">
    <% flash.each do |type, msg| %>
        <div class="alert alert-danger" role="alert">
            <%= msg %>
        </div>
    <% end %>
    <br>
    <%= form_tag url_for(action: 'create'), method: "post" do %>
        <div class="form-group mt-3">
            <%= label_tag 'Email' %>
            <%= text_field_tag 'email', '', class: 'form-control' %>
        </div>
        <br>
        <div class="form-group">
            <%= label_tag 'Mot de passe' %>
            <%= password_field_tag 'password', '', class: 'form-control' %>
        </div>
        <br>
        <%= submit_tag "Log in", class: 'btn btn-primary' %>
    <% end %>
</div>