<h1>Author's information</h1>
  <div class="container">
    <p>First name: <%= Gossip.find(params[:id]).user.first_name %></p>
    <p>Last name: <%= Gossip.find(params[:id]).user.last_name %></p>
    <p>Description: <%= Gossip.find(params[:id]).user.description %></p>
    <p>Email: <%= Gossip.find(params[:id]).user.email %></p>
    <p>Age: <%= Gossip.find(params[:id]).user.age %></p>
    <p>City: <%= link_to "#{Gossip.find(params[:id]).user.city.name}", {controller: "cities", action: "show", id: Gossip.find(params[:id]).id}%></p>
  </div>