<h1>Author's information</h1>
  <div class="container">
    <p>First name: <%= @user.first_name %></p>
    <p>Last name: <%= @user.last_name %></p>
    <p>Description: <%= @user.description %></p>
    <p>Email: <%= @user.email %></p>
    <p>Age: <%= @user.age %></p>
    <p>City: <%= link_to "#{@user.city.name}", {controller: "cities", action: "show", id: Gossip.find(params[:id]).id}%></p>
  </div>